<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<th:block th:fragment="ajaxLoadedContent">

<div class="container" style="margin-top: 120px;font-family: Rajdhani, sans-serif; color: rgb(32,1,47);">

<div class="jumbotron">
<h1 th:text="${'Card Request Sent'}"></h1>
<h4 th:text="${'Admin will check your request shortly'}"></h4>
</div>

<div align="center">
            
            <button class="btn btn-warning border-dark"  
            	style="background-color:  #024c7d;color:  #d9d9d9;" 
            	th:onclick="redirectHome()" 
            	th:onmouseout="this.style='background-color:#024c7d;color:#d9d9d9;margin-right: 15px;'" 
            	th:onmouseover="this.style='background-color:#070707;color:rgb(217,5,18);margin-right: 15px;'">Home Page
            </button>
     		</div>
</div>
</th:block>